<section data-block-id="block-fm-countdown-1"
         class="block-section section-content block-countdown-1 d-block pt-1 pt-md-1 pb-2 pb-md-3"
         id="block-countdown"
         data-id="block-countdown"
         data-block-type="countdown-1"
         style="background-color: #dd3333; background-size: cover;">
    <div class="block-container orbit-container-lg">
        <div class="pl-0 pr-0">
            <div class="d-md-flex countdown justify-content-md-between align-items-center text-center text-md-left">
                <h2 class="mb-2 mb-md-0 mt-md-0 text-center d-md-flex align-items-center animated"
                    id="countdown-headline"
                    style="color: #ffffff">
                    <span>
                        <div class="block-headline" style="color: #ffffff">
                            ⏰ Oferta de R$ 10 termina em:
                        </div>
                    </span>
                </h2>
                <h1 class="fa-3x font-weight-bolder mt-2 mb-md-0 d-flex align-items-center justify-content-center justify-content-md-end animated bounceIn countdown-clock clock-fm"
                    style="color: #FFC107">
                </h1>
            </div>
        </div>
    </div>
</section>
