<section data-block-id="block-fm-dor-4"
         class="block-section section-content block-content-1 d-block pt-5 pt-md-6 pb-5 pb-md-6"
         id="block-dor"
         data-id="block-dor"
         data-block-type="content-1"
         style="background-color: #ffffff; background-size: cover;">
    <div class="block-container orbit-container-lg">
        <div class="pl-3 pl-md-6 pr-3 pr-md-6">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="block-headline large-h1 text-center mb-4"
                         style="color: var(--heading-font-color)">
                        <div class="large-h1"><span style="color: rgb(61, 61, 61)">Você se reconhece aqui?</span></div>
                    </div>
                </div>
                <div class="col-lg-12 px-0">
                    <p>Você tem 10, 15, 20 anos de profissão. Conhece cada aluno de cor. Sabe exatamente o que cada um precisa.</p>
                    <p><strong>Mas na hora de escrever o relatório... você trava.</strong></p>
                    <p>Fica relendo a mesma frase. Troca um termo. Volta atrás. E entrega com aquele frio na barriga: <em>"Será que vão interpretar errado?"</em></p>
                    <p>Isso não é falta de competência. É que ninguém nunca ensinou como transformar o que você observou em um documento profissional.</p>
                    <p><strong>A boa notícia:</strong> agora existe um jeito simples. Você responde perguntas sobre o aluno pelo WhatsApp e a Fábrica Mágica organiza tudo com vocabulário técnico correto, estrutura pedagógica e diretrizes da BNCC.</p>
                    <p><strong>O conhecimento é seu. A observação é sua. A Fábrica Mágica só organiza com as palavras certas.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
