---
import { HERO_IMAGE } from '../constants';
---

<section data-block-id="block-fm-hero-2"
         class="block-section section-content block-text-image d-block pt-5 pt-md-6 pb-4 pb-md-5"
         id="block-hero"
         data-id="block-hero"
         data-block-type="text-image"
         style="background-color: #fefefe; background-position: right center; background-repeat: no-repeat;">
    <div class="block-container orbit-container-lg">
        <div class="pl-0 pr-0">
            <div class="row">

                <div class="col-12 col-md-5 col-lg-5 text-center order-md-2 mb-4 mb-md-0">
                    <img loading="eager" src={HERO_IMAGE} alt="Termine seus relatórios em 5 minutos"
                         class="img-fluid d-block mx-auto"
                         style="max-height: 400px;"
                         onerror="this.onerror=null;this.src='https://doutoraescola.com.br/livro/images/ads1.webp';" />
                </div>

                <div class="col-12 col-md-7 col-lg-7 pr-md-5 order-md-1">
                    <div class="block-headline large-h1 mb-4 text-center text-md-left"
                         style="color: var(--heading-font-color)">
                        <div class="large-h1"><span style="color: rgb(0, 7, 71)">Termine seus relatórios em <span style="color: #00C853;">5 minutos</span></span></div>
                    </div>
                    <p style="font-size:20px;" class="text-center text-md-left">O sistema que transforma as informações do seu aluno em um relatório pronto, com as palavras certas e alinhado à BNCC.</p>
                    <p style="font-size:20px;" class="text-center text-md-left"><strong>Hoje você começa por apenas R$ 10.</strong></p>
                </div>

            </div>
        </div>
    </div>
</section>
