---
import { CHECKOUT_URL } from '../constants';
---

<section data-block-id="block-fm-ultimachamada-10"
         class="block-section section-content block-simple-btn-1 d-block pt-5 pt-md-6 pb-5 pb-md-6"
         id="block-ultimachamada"
         data-id="block-ultimachamada"
         data-block-type="simple-btn-1"
         style="background-color: #e8f8ee; background-size: cover;">
    <div class="block-container orbit-container-lg">
        <div class="pl-0 pr-0">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="block-headline large-h1 text-center mb-4"
                         style="color: var(--heading-font-color)">
                        <div class="large-h1" style="color: var(--heading-font-color)"><span style="color: rgb(0, 0, 0)">Termine seus relatórios em 5 minutos</span></div>
                    </div>
                    <div class="block-subheadline lead text-center mb-4"
                         style="color: var(--body-font-color)">
                        <div style="color: var(--body-font-color)">Pare de travar. Teste hoje por apenas R$ 10.</div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                    <a class="btn btn-success btn-lg btn-block hvr-grow-shadow shadow py-3 h2"
                       href={CHECKOUT_URL}
                       data-cta="checkout"
                       id="cta-final">
                        Quero meus relatórios em 5 min →
                    </a>
                    <div class="trust-badges text-center">
                        <i class="fas fa-shield-alt"></i> 7 dias de garantia &nbsp;·&nbsp;
                        <i class="fas fa-bolt"></i> Acesso imediato
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
